# Video and Screenshot directories
cypress/videos
cypress/screenshots
cypress/downloads
cypress/results
cypress/reports

# Cypress environment file
cypress.env.json

# Dependency directories
node_modules/
jspm_packages/